<%- include("partials/header"); -%>
    <div class="container home-body">
        <h2>About PLACEMENT-CONNECT</h2>
        <p class="post-content">Good placement comes with good preparation.This preparation not just include the academics but also the communication you have developed with the seniors and alumni about their experiences regarding the process they have gone through during the placement drive.This project PLACEMENT-CONNECT makes the communication easier between the people who wants to share the experience and who needs to know the experience.All the alumni and placed students of the college can create an account and write down the process of the interview in the type experience form.All the users of the website can view the posted messages in the feed page.Each user will have their own account page where they can write down about themselves.When any user wants to know about any desired company,filter page will help in filtering out those companies.Some particular user's experience can be accessed by searching with their username in the search page.Overall this website helps to connect the students all over the campus to get into their dream companies and also help other students</p>
    </div>


    <%- include("partials/footer"); -%>