<%- include("partials/header"); -%>

<div class="container home-body">
    <div class="col-12 col-sm-6">
        <h3>Location Information</h3>
        <h5>Our Address</h5>
        <address style="font-size: 100%">
            6429, NITTE Meenakshi College Rd,<br>
            BSF Campus, Yelahanka,<br>
           Bengaluru, Karnataka 560064<br>
            <i class="fa fa-phone"></i>: +91 70937 40517<br>
            <i class="fa fa-fax"></i>: +91 91083 67067<br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:placement@connect.net">placement@connect.net</a>
        </address>
        <br>
        <br>
        <h3>Contact</h3>
        <div class="btn-group" role="group">
            <a role="button" class="btn btn-primary" href="tel:+852 1234 5678"><i class="fa fa-phone"></i>
                Call</a>
            <a role="button" class="btn btn-success" href="#"><i class="fa fa-whatsapp"></i> Whatsapp</a>
            <a role="button" class="btn btn-info" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i>
                Email</a>
        
        </div>
    </div>

</div>


<%- include("partials/footer"); -%> 